{% extends 'base.html' %}

{% load static %}

{% block title %}{{ user_data.username }}{% endblock title %}

{% block content %}
    <main>
        <div id="user-page-title" class="page-title">
            <h1>{{ user_data.username }}</h1>
            
            <div class="user-actions">
                <button title="Сохранить контакт" id="add-user">+</button>
                <button title="Удалить контакт" id="remove-user">-</button>
                <button title="Заблокировать пользователя" id="block-user">×</button>
            </div>
        </div>

        <div class="chat-window" id="chat-messages">
            {% for message in messages %}
                <div class="chat-message {% if current_user.username == message.sender %} self-message {% endif %}">
                    <p class="chat-message-username">{{ message.sender }}</p>
    
                    <div class="chat-message-date">
                        <span class="chat-message-date-date">{{ message.date_added|date:'d.m.Y, ' }}</span>
    
                        <span class="chat-message-date-time">{{ message.date_added|date:'H:i' }}</span>
                    </div>
    
                    <p class="chat-message-message">{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>

        <form method="POST" class="chat-send">
            <input type="text" name="content" class="chat-send-textholder" placeholder="Введите сообщение..." id="chat-message-input">
            <button class="chat-send-button" id="chat-message-submit">Отправить</button>
        </form>
    </main>
{% endblock content %}

{% block scripts %}
    {{ user_data.username|json_script:"json-receiver" }}
    {{ request.user.username|json_script:"json-sender" }}

    <script>
        const receiver = JSON.parse(document.getElementById('json-receiver').textContent);
        const sender = JSON.parse(document.getElementById('json-sender').textContent);
        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/'
            + sender
            + '-'
            + receiver
            + '/'
        );

        const messageSound = new Audio("{% static 'sounds/message.wav' %}");

        chatSocket.onmessage = function(e) {
            console.log('onmessage');

            const data = JSON.parse(e.data);

            if (data.message) {
                let html = ''

                if (data.sender === sender) {
                    html += '<div class="chat-message self-message">';
                }
                else {
                    html += '<div class="chat-message">';
                }
                    html += '<p class="chat-message-username">' + data.sender + '</p>';
                    html += '<div class="chat-message-date">';
                        html += '<span class="chat-message-date-date">' + data.date.slice(0, 12) + '</span>';
                        html += '<span class="chat-message-date-time">' + data.date.slice(12) + '</span>';
                    html += '</div>';
                    html += '<p class="chat-message-message">' + data.message + '</p>';
                html += '</div>'
                
                document.querySelector('#chat-messages').innerHTML += html;
                messageSound.play();

                scrollToBottom();
            }
            else {alert('The message was empty.');}
        }

        chatSocket.onclose = function(e) {console.log('onclose');}

        document.querySelector('#chat-message-submit').onclick = function(e) {
            e.preventDefault();

            const messageInputDOM = document.querySelector('#chat-message-input');
            const message = messageInputDOM.value;
            var options = {
                hour: 'numeric',
                minute: 'numeric',
                day: 'numeric',
                month: 'numeric',
                year: 'numeric'
            };

            chatSocket.send(JSON.stringify({
                'date': new Date().toLocaleString("ru-RU", options),
                'message': message,
                'sender': sender,
                'receiver': receiver
            }));

            messageInputDOM.value = '';

            return false;
        }

        function scrollToBottom() {
            const objDiv = document.querySelector('.chat-window');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom()
    </script>
{% endblock scripts %}