<nav class="navbar">
    <div class="logo">
        <a href="{% url 'core:index' %}">ванчат</a>
    </div>

    <div class="">
        {% if request.user.is_authenticated %}
            <a href="{% url 'rooms:rooms' %}" class="first-btn">Комнаты</a>
            <a href="{% url 'core:log_out' %}" class="second-btn">Выйти</a>
        {% else %}
            <a href="{% url 'core:log_in' %}" class="first-btn">Войти</a>
            <a href="{% url 'core:sign_up' %}" class="second-btn">Регистрация</a>
        {% endif %}
    </div>
</nav>