{% extends 'base.html' %}

{% block title %}Комнаты{% endblock title %}

{% block content %}
    <main>
        <div class="page-title">
            <h1>комнаты</h1>
        </div>

        <div class="room-list">
            {% for room in room_list %}
                <div class="room">
                    <h2>{{ room.name }}</h2>

                    <a href="{% url 'rooms:room' room.slug %}" class="room-button">Join</a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}