{% extends 'base.html' %}

{% block title %}Комнаты{% endblock title %}

{% block content %}
    <body>
        {% include 'includes/navbar.html' %}

        <main>
            <div class="page-title">
                <h1>комнаты</h1>
            </div>
    
            <div class="room-list w-full flex flex-wrap items-center">
                {% for room in room_list %}
                    <div class="room">
                        <h2 class="">{{ room.name }}</h2>
    
                        <a href="{% url 'rooms:room' room.slug %}" class="room-button">Join</a>
                    </div>
                {% endfor %}
            </div>
        </mai>
    </body>
{% endblock content %}