{% extends 'base.html' %}

{% block title %}Вход{% endblock title %}

{% block content %}
    <body>
        {% include 'includes/navbar.html' %}

        <main>
            <div class="page-title">
                <h1>вход</h1>
            </div>
    
            <form method="POST" class="log_in">
                {% csrf_token %}
    
                <div>
                    <label>Имя пользователя</label>
    
                    <input type="text" name="username">
                </div>
    
                <div>
                    <label class="text-white">Пароль</label>
    
                    <input type="text" name="password">
                </div>
    
                <button>Войти</button>    
    
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </form>
        </main>
    </body>
{% endblock content %}