{% extends 'base.html' %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
    <main>
        <div class="page-title">
            <h1>регистрация</h1>
        </div>

        <form class="log_in" method="POST">
            {% csrf_token %}

            <div class="mb-5">
                <label>Имя пользователя</label>

                <input type="text" name="username">
            </div>

            <div class="mb-5">
                <label>Пароль</label>

                <input type="text" name="password1">
            </div>

            <div class="mb-5">
                <label >Пароль (ещё раз)</label>

                <input type="text" name="password2">
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div">
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <button>Зарегистрироваться</button>
        </form>
    </main>
{% endblock content %}