<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>onechat · {% block title %}{% endblock title %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .chat-messages {
                height: 400px;
                overflow: auto;
            }
        </style>
    </head>

    {% block content %}
    {% endblock content %}

    {% block scripts %}
    {% endblock scripts %}
</html>