{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css_additional %}{% endblock css_additional %}
    </head>

    <body>
        {% include 'includes/navbar.html' %}

        {% block content %}
        {% endblock content %}

        {% include 'includes/footer.html' %}

        <button id="menu-button">Меню</button>

        {% include 'includes/sidebar.html' %}
        
        <div id="overlay" class="overlay"></div>
    </body>

    <script>
        const btnTheme = document.getElementById('btn-theme');
        const headElem = document.getElementsByTagName('head')[0];

        const darkThemeLink = document.createElement('link');
        darkThemeLink.href = "{% static 'css/dark_theme.css' %}";
        darkThemeLink.rel = 'stylesheet'

        let theme = localStorage.getItem('theme');

        if (theme === 'dark') {
            headElem.appendChild(darkThemeLink);
            btnTheme.innerText = 'Светлее';
        } 

        btnTheme.addEventListener('click', () => {
            if (theme === 'light' || theme === null) {
                localStorage.setItem('theme', 'dark');
                headElem.appendChild(darkThemeLink);
                btnTheme.innerText = 'Светлее';
                theme = localStorage.getItem('theme');
            }
            else if (theme === 'dark') {
                localStorage.setItem('theme', 'light');
                headElem.removeChild(darkThemeLink);
                btnTheme.innerText = 'Темнее';
                theme = localStorage.getItem('theme');
            }
        })
    </script>

    <script>
        const menuBtn = document.getElementById('menu-button');
        const sideBar = document.getElementById('sidebar');
        const overlay = document.getElementById('overlay');

        menuBtn.addEventListener('click', () => {
            sideBar.style.display = 'block';
            overlay.style.display = 'block';
        })

        overlay.addEventListener('click', () => {
            sideBar.removeAttribute('style');
            overlay.removeAttribute('style');
        })
    </script>

    {% block scripts %}
    {% endblock scripts %}
</html>